C:\Users\James B\repos\personal_projects\ML_Algorithms\linear_regression\house-prices-advanced-regression-techniques\profile_reports
C:\Users\James B\repos\personal_projects\ML_Algorithms\linear_regression\house-prices-advanced-regression-techniques\kaggle_submissions
C:\Users\James B\repos\personal_projects\ML_Algorithms\linear_regression\house-prices-advanced-regression-techniques\.ipynb_checkpoints
C:\Users\James B\repos\personal_projects\ML_Algorithms\linear_regression\house-prices-advanced-regression-techniques\sample_submission.csv
C:\Users\James B\repos\personal_projects\ML_Algorithms\linear_regression\house-prices-advanced-regression-techniques\test.csv
C:\Users\James B\repos\personal_projects\ML_Algorithms\linear_regression\house-prices-advanced-regression-techniques\train.csv

C:\Users\James B\repos\personal_projects\ML_Algorithms\decision_tree_classification\.ipynb_checkpoints
C:\Users\James B\repos\personal_projects\ML_Algorithms\decision_tree_classification\heart_failure_records.csv